.m-l-10{margin-left:10px;}
.m-t-6{margin-top: 6px;}
.w-40-p{width: 40%;}
.w-20-p{width: 20%;}
.w-50-p{width: 50%;}
.w-80-p{width: 80%;}
.w-200{width: 200px!important;}
.h-200{height: 200px!important;}
.v-middle{vertical-align: middle!important;}
#s2id_tagsSel{width: 100px;}
